page-expense-detail-form {
    .form-submit{        
        padding: 8px 0;
        display: flex;
        justify-content: center;
    }

    .scroll-content {
        margin-top: 64px !important;
    }
}
