<!--
  Generated template for the ExpenseDetailFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>
    <ion-title>expense-detail-form</ion-title>
  </ion-navbar>-->
  <div class="form-submit">
    <button ion-button clear (click)="cancel()">CANCELAR</button>
    <button ion-button clear (click)="create()">GUARDAR</button>
  </div>

</ion-header>


<ion-content padding>
  <form name="expenseRegisterForm">
    <ion-list>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime name="date" displayFormat="MMM DD, h:mm A" pickerFormat="DD MMM h mm A" [(ngModel)]="detail.fecha"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select name="category" [(ngModel)]="categoryChoosedId">
          <ion-option *ngFor="let c of categories" [value]="c.id">
              {{ c.nombre }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Sub Categoria</ion-label>
        <ion-select name="subcategoryId" [(ngModel)]="detail.gasto_subcategorias_id">
          <ion-option *ngFor="let sc of subcategories" [value]="sc.id">
              {{ sc.nombre }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input name="detalle" type="text" [(ngModel)]="detail.detalle"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Costo</ion-label>
        <ion-input name="costo" type="number" [(ngModel)]="detail.costo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Observacion</ion-label>
        <ion-input name="observacion" type="text" [(ngModel)]="detail.observacion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>hidden</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>