// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-content {
    .scroll-content {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }
}

// Helpers
.md-whiteframe-1dp {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

// Modifiers

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: unset;
    border-bottom-color: #dedede;
}

.toolbar-title-md {
    font-size: 1.7rem;
}


// components
form {
    ion-list {        
        margin: 0;
        padding: 16px;
        
        ion-item {
            padding-left: 0 !important;

            &.item-datetime,
            &.item-select {
                margin: 12px 0;
            }

            &:first-child {
                margin-top: 0;
            }
            
            &:last-child {
                display: none;
            }
        }
    }
}

.form-submit{        
    padding: 8px 0;
    display: flex;
    justify-content: space-around;
}