page-expense-category {
    .header {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 30%;
        background-color: $primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 50%;
        }

        span.header__title {
            color: $light-color;
            font-size: 18px;
            font-weight: bold;
            margin-top: 8px;
        }
        span.header__message {            
            color: $accent;
            font-size: 14px;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 24px;
                font-weight: bold;
                margin-right: 4px;
            }
        }
    }

    .categorias {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 70%;

        display: flex;        
        flex-direction: column;
        color: $light-color;
        background-color: $primary-darker;

        .categorias__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            padding: 16px;
            border-bottom: 1px solid rgba(0,0,0,0.12);
            @extend  .md-whiteframe-1dp;

            .title {
                font-size: 14px;
                text-transform: uppercase;
            }

            ion-icon {
                position: absolute;
                right: 16px;

                &::before {
                    font-size: 24px;
                }
            }
        }

        .categorias__list {
            margin-top: 8px;
            
            ion-list button {
                color: $light-color;
                background-color: $primary-darker;

                ion-label {
                    margin: 8px 16px 8px 0;
                    display: flex;
                    align-items: center;
                    position: relative;

                    .bullet {
                        background-color: $primary;
                        border-radius: 50%;
                        margin-right: 12px;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: rgba(255,255,255,0.25);
                    }

                    span.name {
                        color: rgba(255, 255, 255, 0.75);
                    }

                    span.amount {
                        position: absolute;
                        right: 0;
                        color: $amber-600;
                        font-size: 14px;
                    }
                }

                ion-icon {
                    color: $amber-900;
                    display: flex;
                    align-items: center;
                    margin-top: 0;
                    margin-bottom: 0;

                    &::before {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
